---
import Layout from '../layouts/Layout.astro'
import Greating from '../components/Greating.astro'
---

<Layout title='Drummes12'>
	<div class='h-screen px-4 sm:px-8'>
		<Greating styleClass='snap-center' />
	</div>
</Layout>
