---
import Layout from '../layouts/Layout.astro'
import Greating from '../components/Greating.astro'
import Lamps from '../components/Lamps.astro'
import About from '../components/About.astro'
import Lamp from '../components/Lamp.astro';
---

<Layout title='Drummes12'>
  <div id='wall' class='absolute top-0 left-0 h-full w-full -z-20'></div>
  <div class='relative px-4 sm:px-8'>
    <Lamps />
    <Lamp />
    <Greating />
    <About />
  </div>
</Layout>

<style>
  #wall {
    background-color: black;
    opacity: 0.8;
    background-image: linear-gradient(#cccccc08 1px, transparent 1px),
      linear-gradient(to right, #cccccc08 1px, black 1px);
    background-size: 20px 20px;
    transform: translateZ(-2px);
  }
</style>
