---
import Layout from '../layouts/Layout.astro'
import Greatings from '../components/Greatings.astro'
---

<Layout title='Drummes12'>
	<div class='overflow-y-auto px-4 sm:px-8 snap-y snap-mandatory'>
		<Greatings styleClass='snap-center' />
		<Greatings styleClass='snap-center' />
	</div>
</Layout>
