---
import SectionComponent from '@/components/SectionComponent.astro'
import Shutter from '@/lights/Shutter.astro'
interface Props {
  id?: string
}

const { id } = Astro.props
---

<SectionComponent id={id} class='flex flex-col md:flex-row gap-8 items-center justify-center py-16'>
  <Shutter />

  <img
    class='aspect-square object-cover object-top rounded-full size-1/2 sm:size-64'
    src='/me.webp'
    alt='Foto de Esteban'
  />
  <article
    class='sm:w-3/4 max-w-[60ch] bg-black/10 shadow-md shadow-black/80 backdrop-blur-md p-4 rounded-xl [&>p]:text-base [&>p]:md:text-lg [&>p]: text-white/90 [&>p]:mb-8 font-extralight [&>p>strong]:font-medium [&>p>strong]:text-c-neon2 [&>p>strong>em]:italic'
  >
    <h2 class='text-md text-gray-400/80 font-bold'>Sobre mi</h2>
    <p>
      Mi nombre es Esteban Gonzalez, un apasionado de la tecnología con raíces en Colombia! Mi fascinación por este mundo comenzó con un simple carro a control remoto que desarme a los 12 años. Actualmente, estoy <strong>liderando equipos en el mundo del desarrollo web</strong>.
    </p>
    <p>
      Mi viaje profesional me ha llevado a participar en <strong>proyectos de envergadura tanto a nivel nacional como internacional</strong>, donde he dejado mi huella con <strong>iniciativas de <em>UX/UI</em>, implementación de <em>buenas prácticas</em> y la construcción de <em>arquitecturas escalables</em></strong>.
    </p>
    <p>
      Mi enfoque se centra en la creación de aplicativos y funcionalidades que no solo elevan la productividad, sino que también redefinen la eficiencia en cada interacción.
    </p>
    <p>
      Como <strong>desarrollador de Twilio</strong> durante el último año, he explorado las posibilidades de la <strong>comunicación potente y escalable</strong>. Mi misión es construir aplicativos de alto impacto, donde la <strong>accesibilidad</strong>, el <strong>rendimiento</strong> y el <strong>diseño</strong> se entrelazan para ofrecer experiencias excepcionales.
    </p>
  </article>
</SectionComponent>
