<div class="absolute w-full h-full blur-3xl -z-50">
  <div
    class='absolute top-0 -left-40 w-[32rem] aspect-square bg-radial-gradient from-[#00ff00]/40 to-50% to-transparent'
  >
  </div>
  <div
    class='absolute top-1/3 -right-72 w-[48rem] aspect-square bg-radial-gradient from-[#ff00FF]/40 to-50% to-transparent'
  >
  </div>
  <div
    class='absolute bottom-0 -left-24 w-[40rem] aspect-square bg-radial-gradient from-[#00ffff]/40 to-50% to-transparent'
  >
  </div>
</div>
