<div
  class='absolute w-full h-full blur-2xl -z-50 [&>div]:aspect-square [&>div]:bg-radial-gradient overflow-x-hidden [&>div]:to-90% [&>div]:to-transparent'
>
  <div class='absolute top-0 left-0 w-[12rem] from-c-neon1/40'></div>
  <div class='absolute bottom-3/4 right-0 w-[20rem] from-c-neon2/40'></div>
  <div class='absolute top-1/3 left-1/3 w-[18rem] from-c-neon3/40'></div>
  <div class='absolute bottom-0 right-1/2 w-[20rem] from-c-neon4/40'></div>
  <div class='absolute top-1/2 left-2/3 w-[16rem] from-c-neon5/40'></div>
</div>
