---
import ExperienceItem from '@/components/ExperienceItem.astro'
import SectionComponent from '@/components/SectionComponent.astro'
import Rotate from '@/lights/Rotate.astro'

interface Props {
  id?: string
}

const { id } = Astro.props

const EXPERIENCES = [
  {
    title: 'Twilio Developer',
    company: 'IZEI Consulting Group',
    location: '游깷',
    startDate: '2022-Sept',
    endDate: 'Actualmente',
    description:
      'Desarrollo de soluciones de comunicaci칩n basadas en la plataforma Twilio, construyendo aplicaciones backend capaces de integrar, mejorar el rendimiento, y aumentar la utilidad de las APIs, adem치s de construir plugins para el Contact Center, con un gran enfoque en el dise침o de la interfaz de usuario (UI/UX) para aumentar las caracter칤sticas de la herramienta.',
  },
  {
    title: 'Solutions Integration Engineer',
    company: 'Interlat Group',
    location: '游뻟릖',
    startDate: '2022-Ene',
    endDate: '2022-Ago',
    description:
      'Desarrollo de integraciones, con aplicaciones propias (Python, JavaScript, APIs, SQL) o tecnolog칤as "no code", entre soluciones digitales de customer experience, data cloud, e-commerce, social media y todo lo relacionado para que una empresa logre con la mayor fiabilidad y facilidad una transformaci칩n digital. Dise침o, desarrollo e implementaci칩n de software en .Net y C# para el control de enrolamiento e ingreso por medio de un sistema biom칠trico (PalmSecure - Fujitsu)',
  },
  {
    title: 'Help Desk',
    company: 'Datecsa',
    location: '游뻟릖',
    startDate: '2021-Feb',
    endDate: '2021-Ago',
    description:
      'Soporte a clientes en la configuraci칩n y uso de impresoras Kyocera, adem치s de la creaci칩n de archivos en Excel con macros, para el monitoreo y creaci칩n de informes de las impresoras rentadas por la empresa, disminuyendo esta labor manual hasta un 60% de tiempo, y un 90% de fiabilidad a este documento',
  },
]
---

<SectionComponent id={id}>
  <Rotate />
  <div class='mx-auto h-full w-full max-w-[1400px] flex flex-col mb-16'>
    <header class='flex w-full justify-end my-4'>
      <h2 class='text-right font-extrabold [font-size:_clamp(3rem,_1.158rem_+_9.825vw,_10rem)] text-gray-500/90'>
        Experiencia
      </h2>
    </header>
    <ol class='relative text-right border-e border-white/90 max-md:backdrop-blur-sm md:bg-transparent w-full'>
      {EXPERIENCES.map((experience) => <ExperienceItem {...experience} />)}
    </ol>
  </div>
</SectionComponent>
