---
import ExperienceItem from './ExperienceItem.astro'
import SectionComponent from './SectionComponent.astro'
import Rotate from './lights/Rotate.astro'

interface Props {
  id?: string
}

const { id } = Astro.props

const EXPERIENCES = [
  {
    title: 'Creador de Contenido',
    company: 'Twitch',
    location: '',
    startDate: '2023-Ene',
    endDate: 'Actualidad',
    description:
      'Divulgo sobre programaci贸n y desarrollo web en diferentes plataformas. Galardonado como mejor creador de contenido de habla no-inglesa en 2022 y mejor comunidad en 2023 por GitHub.',
  },
  {
    title: 'Principal Frontend Engineer',
    company: 'Adevinta Spain',
    location: '',
    startDate: '2022-Ene',
    endDate: '2023-Ene',
    description:
      'Responsable de la plataforma, componentes y utilidades para la creaci贸n y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantaci贸n de medidas de integraci贸n continua y despliegue con A/B testing en m谩s de 15 equipos.',
  },
  {
    title: 'Software Engineer Junior',
    company: 'Clevertech',
    location: '',
    startDate: '2020-Ene',
    endDate: '2020-Dic',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl quis aliquam ultricies, nunc nisl aliquet nunc, vitae aliquam nisl nunc vitae nisl',
  },
]
---

<SectionComponent id={id}>
  <Rotate />
  <div class='sm:pl-20 h-full w-full max-w-[1400px] flex flex-col mb-16'>
    <header class='flex w-full justify-end mt-16'>
      <h2 class='text-right font-extrabold [font-size:_clamp(3rem,_1.158rem_+_9.825vw,_10rem)] text-gray-500/50'>Experiencia</h2>
    </header>
    <ol class='relative text-right border-e border-white/90 max-md:backdrop-blur-sm md:bg-transparent w-full'>
      {EXPERIENCES.map((experience) => <ExperienceItem {...experience} />)}
    </ol>
  </div>
</SectionComponent>
