---
const currentYear = new Date().getFullYear()
---

<footer class='relative mt-4 bg-black/10 backdrop-blur-md w-full max-w-[1400px] rounded-t-xl mx-auto'>
  <div class='w-full mx-auto max-w-screen-xl p-4 sm:flex sm:flex-col md:flex-row sm:items-center md:justify-between'>
    <a class='hover:underline font-extralight' href='mailto:drummes.12@gmail.com' aria-label='Enviar correo a drummes.12@gmail.com'>drummes.12@gmail.com</a>
    <p class='text-sm sm:text-center text-cyan-400/80'>
      © {currentYear}
      <span class='font-bold'>Drummes12</span>. Algunos derechos reservados
    </p>
  </div>
</footer>
