---
interface Props {
  styleClass: string
}

const { styleClass } = Astro.props
---

<section class={`relative h-screen w-full justify-center overflow-hidden ${styleClass}`}>
  <header class='w-full h-full flex flex-col justify-center md:justify-start md:pt-28'>
    <h1
      class='text-[8rem] sm:text-[10rem] md:text-[12rem] lg:text-[14rem] 2xl:text-[18rem] text-right font-semibold leading-none animate-flip-up animate-once'
    >
      hola
    </h1>
    <p
      class='max-sm:hidden text-right whitespace-nowrap text-[6rem] md:text-[8rem] lg:text-[10rem] 2xl:text-[14rem] opacity-70 animate-flip-up animate-once animate-delay-300'
    >
      Soy Esteban
    </p>
    <div
      class='marquee rotate-3 text-[6rem] sm:text-[6rem] [--duration:10s] md:[--duration:20s] [--gap:1rem] md:[--gap:4rem]'
    >
      <div class='marquee__group'>
        <p>Soy Esteban</p>
        <span>|</span>
        <p>Soy Esteban</p>
        <span>|</span>
      </div>
      <div class='marquee__group'>
        <p>Soy Esteban</p>
        <span>|</span>
        <p>Soy Esteban</p>
        <span>|</span>
      </div>
    </div>
  </header>
  <footer class='absolute bottom-4 sm:bottom-8 w-full flex items-end justify-between'>
    <div class='grow left-0 font-bold text-3xl md:text-5xl leading-6 md:leading-10 [text-wrap:balance]'>
      <p class='animate-flip-up animate-once animate-delay-[600ms] flex items-end gap-4'>
        Tu
        <span
          id='word-client'
          class='text-red-200 font-mono block whitespace-nowrap border-r-2 animate-typing6 overflow-hidden w-[6.1ch]'
          >VISIÓN</span
        >
      </p>
      <p class='animate-flip-up animate-once animate-delay-[600ms] flex items-center gap-4'>
        Mi
        <span
          id='word-own'
          class='text-green-200 font-mono block whitespace-nowrap border-r-2 animate-typing11 overflow-hidden w-[11.1ch]'
          >CREATIVIDAD</span
        >
      </p>
    </div>

    <button
      class='hidden sm:inline right-0 opacity-50 text-xl md:text-3xl bottom-4 sm:bottom-8 animate-flip-up animate-once animate-delay-[900ms]'
    >
      drummes.12@gmail.com
    </button>
  </footer>
</section>

<script>
  export const WORDS_CLIENT = ['VISIÓN', 'OBJETIVO', 'META', 'PROPÓSITO']
  export const WORDS_OWN = ['CREATIVIDAD', 'PASIÓN', 'HABILIDAD', 'TALENTO']

  const wordClient = document.getElementById('word-client')
  const wordOwn = document.getElementById('word-own')

  setInterval(() => {
    animateWord(wordClient, WORDS_CLIENT)
  }, 7000)

  setInterval(() => {
    animateWord(wordOwn, WORDS_OWN)
  }, 11000)

  function getRandomWord(arr: string[]) {
    return arr[Math.floor(Math.random() * arr.length)]
  }

  export function animateWord(wordElement: HTMLElement, wordList: string[]) {
    const randomWord = getRandomWord(wordList)
    const wordLength = randomWord.length

    wordElement.style.width = '0px'
    wordElement.classList.remove('animate-typing')
    wordElement.style.animation = 'none'
    wordElement.style.width = `${wordLength}.1ch`

    setTimeout(() => {
      wordElement.classList.add('animate-typing')
      wordElement.innerText = randomWord
      wordElement.style.animation = `typing 1s steps(${wordLength}), blink 0.5s infinite step-end alternate`
    }, 10)
  }
</script>

<style>
  .marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    opacity: 0.7;
    white-space: nowrap;
  }

  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
  }

  @media (prefers-reduced-motion: reduce) {
    .marquee__group {
      animation-play-state: paused;
    }
  }

  @media not all and (max-width: 640px) {
    .marquee__group {
      display: none;
      animation: none;
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
</style>
