---
import GreatingFooter from '@/components/GreatingFooter.astro'
import Button from '@/components/Button.astro'
import SectionComponent from '@/components/SectionComponent.astro'

import Flicker from '@/lights/Flicker.astro'

import LinkedIn from '@/icons/LinkedIn.astro'
import GitHub from '@/icons/GitHub.astro'
import Mail from '@/icons/Mail.astro'

interface Props {
  id?: string
}

const { id } = Astro.props
---

<SectionComponent id={id}>
  <Flicker />
  <main class='w-full h-min min-h-[100svh] flex flex-col md:justify-start pt-28'>
    <h1
      class='[font-size:_clamp(5rem,_3.158rem_+_9.825vw,_12rem)] text-right font-extrabold leading-none animate-fade-left animate-once'
    >
      hey,
      <span
        class='text-right whitespace-nowrap [font-size:_clamp(3rem,_1.158rem_+_9.825vw,_10rem)] font-normal opacity-70 animate-fade-left animate-once overflow-hidden'
      >
        Soy Esteban
      </span>
    </h1>
    <nav class='w-full flex gap-4 flex-wrap justify-end animate-fade-left animate-once'>
      <Button href='https://www.linkedin.com/in/drummes12/' title='LinkedIn' color='from-linkedin'>
        <LinkedIn
          class='size-6 sm:size-8 text-white/90 sm:text-white/50 sm:group-hover:text-white/90 sm:group-hover:scale-105 transition-all duration-300'
        />
      </Button>
      <Button href='https://github.com/drummes12' title='GitHub' color='from-github'>
        <GitHub
          class='size-6 sm:size-8 text-white/90 sm:text-white/50 sm:group-hover:text-white/90 sm:group-hover:scale-105 transition-all duration-300'
        />
      </Button>
      <Button href='mailto:drummes.12@gmail.com' title='drummes.12@gmail.com' color='from-mail'>
        <Mail
          class='size-6 sm:size-8 text-white/90 sm:text-white/50 sm:group-hover:text-white/90 sm:group-hover:scale-105 transition-all duration-300'
        />
      </Button>
    </nav>
    <GreatingFooter />
  </main>
</SectionComponent>
