<footer
  class='absolute bottom-0 max-w-[40ch] m-4 md:m-8 p-4 md:p-8 [font-size:_clamp(1rem,_0.737rem_+_1.404vw,_2rem)] rounded-xl bg-black/10 shadow-md shadow-black/80'
>
  <p class='animate-flip-up animate-once text-white/90'>
    +2 años de experiencia.
    <span id='word-client' class='text-red-200'>Ingeniero Mecatrónico y Desarrollador Web</span>
    . De
    <span id='word-own' class='text-green-200'>Bogotá, Colombia</span>
    . Creemos juntos algo increíble.
  </p>
</footer>
