<div class='-z-20 inset-0 absolute w-full h-full [&>div]:absolute [&>div]:w-1/2 [&>div]:h-4 [&>div]:rounded-full'>
  <div class='-rotate-6 top-28 md:top-36 left-24 bg-green-950'></div>
  <div class='-rotate-6 top-28 md:top-36 left-24 bg-white shadow-neon1-border animate-flicker1'></div>
  <div class='-rotate-6 top-28 md:top-36 left-24 bg-white shadow-neon1 animate-flicker1'></div>
  <div class='rotate-6 bottom-28 md:bottom-36 right-24 bg-fuchsia-950'></div>
  <div class='rotate-6 bottom-28 md:bottom-36 right-24 bg-white shadow-neon2-border animate-flicker2'></div>
  <div class='rotate-6 bottom-28 md:bottom-36 right-24 bg-white shadow-neon2 animate-flicker2'></div>
</div>
