---
import LanguagesName from '@/components/LanguagesName.astro'
import LanguagesLogo from '@/components/LanguagesLogo.astro'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class={`${className} relative max-w-[1400px] w-full mx-auto py-8 px-8`}>
  <div
    class='languages relative flex flex-col w-full gap-y-1 [--gap:1rem] [--duration:60s]'
  >
    <div
      class='overflow-x-clip flex flex-row gap-[--gap] w-max origin-left h-12 sm:h-14 text-5xl sm:text-6xl font-bold group'
    >
      <LanguagesName />
      <LanguagesName />
    </div>
    <div
      class='overflow-x-clip flex flex-row h-12 sm:h-14 gap-[--gap] w-max group'
    >
      <LanguagesLogo />
      <LanguagesLogo />
    </div>
  </div>
</div>

<style>
  .languages {
    --blur: 1px;
    --from-color: #121212;
    --lenght: 15%;
    mask: linear-gradient(
      to right,
      transparent 0%,
      #000 10%,
      #000 90%,
      transparent 100%
    );
  }
</style>
