---
import Aws from '@/logos/Aws.astro'
import Docker from '@/logos/Docker.astro'
import Express from '@/logos/Express.astro'
import Firebase from '@/logos/Firebase.astro'
import Graphql from '@/logos/Graphql.astro'
import JavaScript from '@/logos/JavaScript.astro'
import MongoDB from '@/logos/MongoDB.astro'
import MySQL from '@/logos/MySQL.astro'
import NodeJs from '@/logos/NodeJs.astro'
import Css from '@/logos/Css.astro'
import Html from '@/logos/Html.astro'
import Netlify from '@/logos/Netlify.astro'
import NextJs from '@/logos/NextJs.astro'
import PostgreSQL from '@/logos/PostgreSQL.astro'
import React from '@/logos/React.astro'
import Sass from '@/logos/Sass.astro'
import Tailwind from '@/logos/Tailwind.astro'
import Vercel from '@/logos/Vercel.astro'
import ViteJs from '@/logos/ViteJs.astro'
import VueJs from '@/logos/VueJs.astro'
import Wordpress from '@/logos/Wordpress.astro'
---

<div
  class='flex gap-[--gap] w-max animate-marquee [animation-direction:reverse] items-stretch h-14 [&>div]:h-full [&>div]:w-28 [&>div]:rounded-xl [&>div]:grid [&>div]:place-content-center sm:group-hover:[animation-play-state:paused] sm:[&>div]:contrast-50'
>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <Html class='text-[#e34f26] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <Css class='text-[#1571AF] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <JavaScript class='text-[#F7DF1E] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <React class='text-[#00d8ff] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <NextJs class='text-[#fff] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <VueJs class='text-[#4dba87] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <ViteJs class='text-[#646cff] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <NodeJs class='text-[#68a063] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <Wordpress class='text-[#00759D] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <Express class='text-[#fff] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <Sass class='text-[#cf649a] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <MongoDB class='text-[#41a247] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <PostgreSQL class='text-[#336791] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <Graphql class='text-[#e10098] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <Vercel class='text-[#fff] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <MySQL class='text-[#00758F] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <Netlify class='text-[#20C6B7] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <Aws class='text-[#fff] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <Docker class='text-[#2396ED] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <Firebase class='text-[#ffa712] size-8' />
  </div>
  <div class='hover:contrast-100 hover:bg-black/10 hover:shadow-md hover:shadow-black/80 hover:backdrop-blur-sm'>
    <Tailwind class='text-[#38bdf8] size-8' />
  </div>
</div>
