---
import LanguagesName from '@/components/LanguagesName.astro'
import LanguagesLogo from '@/components/LanguagesLogo.astro'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class={`${className} relative w-full mx-auto py-8`}>
  <div class='relative flex flex-col w-full overflow-hidden gap-y-4 [--gap:1rem] [--duration:60s]'>
    <div class='overflow-hidden flex flex-row gap-[--gap] w-max font-dm-mono origin-left text-6xl font-bold group'>
      <LanguagesName />
      <LanguagesName />
    </div>
    <div class='overflow-hidden flex flex-row gap-[--gap] w-max group'>
      <LanguagesLogo />
      <LanguagesLogo />
    </div>
    <div class='absolute -left-1 top-0 h-full w-1/4 bg-gradient-to-r from-[#121212] to-transparent'></div>
    <div class='absolute -right-1 top-0 h-full w-1/4 bg-gradient-to-l from-[#121212] to-transparent'></div>
  </div>
</div>
