---
import LanguagesName from './LanguagesName.astro'
import LanguagesLogo from './LanguagesLogo.astro'
---

<!-- TODO: revisar el margen -->
<div class='relative w-5/6 max-w-5xl mx-auto py-8'>
  <div class='relative flex flex-col w-full overflow-hidden gap-y-4 [--gap:1rem] [--duration:40s]'>
    <div class='flex gap-[--gap] w-max overflow-hidden font-dm-mono origin-left text-6xl font-bold group'>
      <LanguagesName />
      <LanguagesName />
    </div>
    <div class='flex gap-[--gap] w-max overflow-hidden group'>
      <LanguagesLogo />
      <LanguagesLogo />
    </div>
    <div class='absolute -left-1 top-0 h-full w-1/4 bg-gradient-to-r from-[#121212] to-transparent'></div>
    <div class='absolute -right-1 top-0 h-full w-1/4 bg-gradient-to-l from-[#121212] to-transparent'></div>
  </div>
</div>
