<div
  class='flex gap-[--gap] w-max animate-marquee items-stretch h-14 group-hover:sm:[animation-play-state:paused] sm:[&>p]:contrast-50'
>
  <p class='hover:contrast-100 text-[#00d8ff]'>REACT</p>
  <p class='hover:contrast-100 text-[#fff]'>NEXT</p>
  <p class='hover:contrast-100 text-[#4dba87]'>VUE</p>
  <p class='hover:contrast-100 text-[#646cff]'>VITE</p>
  <p class='hover:contrast-100 text-[#F7DF1E]'>VANILLA</p>
  <p class='hover:contrast-100 text-[#68a063]'>NODE</p>
  <p class='hover:contrast-100 text-[#00759D]'>WORDPRESS</p>
  <p class='hover:contrast-100 text-[#fff]'>EXPRESS</p>
  <p class='hover:contrast-100 text-[#41a247]'>MONGODB</p>
  <p class='hover:contrast-100 text-[#336791]'>POSTGRESQL</p>
  <p class='hover:contrast-100 text-[#e10098]'>GRAPHQL</p>
  <p class='hover:contrast-100 text-[#fff]'>VERCEL</p>
  <p class='hover:contrast-100 text-[#00758F]'>MYSQL</p>
  <p class='hover:contrast-100 text-[#20C6B7]'>NETLIFY</p>
  <p class='hover:contrast-100 text-[#fff]'>AWS</p>
  <p class='hover:contrast-100 text-[#2396ED]'>DOCKER</p>
  <p class='hover:contrast-100 text-[#ffa712]'>FIREBASE</p>
  <p class='hover:contrast-100 text-[#38bdf8]'>TAILWIND</p>
</div>
