---
import Aws from '@components/logos/Aws.astro'
import Docker from '@components/logos/Docker.astro'
import Express from '@components/logos/Express.astro'
import Firebase from '@components/logos/Firebase.astro'
import Graphql from '@components/logos/Graphql.astro'
import JavaScript from '@components/logos/JavaScript.astro'
import MongoDB from '@components/logos/MongoDB.astro'
import MySQL from '@components/logos/MySQL.astro'
import Netlify from './logos/Netlify.astro'
import NextJs from './logos/NextJs.astro'
import NodeJs from '@components/logos/NodeJs.astro'
import PostgreSQL from './logos/PostgreSQL.astro'
import React from './logos/React.astro'
import Tailwind from './logos/Tailwind.astro'
import Vercel from './logos/Vercel.astro'
import ViteJs from './logos/ViteJs.astro'
import VueJs from './logos/VueJs.astro'
import Wordpress from './logos/Wordpress.astro'
---

<!-- TODO: revisar el margen -->
<div class='relative w-5/6 max-w-5xl mx-auto my-8'>
  <div class='relative flex flex-col w-full overflow-hidden gap-y-4 [--gap:1rem] [--duration:40s]'>
    <div class='flex gap-[--gap] w-max overflow-hidden font-dm-mono origin-left text-6xl font-bold'>
      <div class='flex gap-[--gap] w-max animate-marquee items-stretch h-14'>
        <p class='text-[#00d8ff]'>REACT</p>
        <p class='text-[#fff]'>NEXT</p>
        <p class='text-[#4dba87]'>VUE</p>
        <p class='text-[#646cff]'>VITE</p>
        <p class='text-[#F7DF1E]'>VANILLA</p>
        <p class='text-[#68a063]'>NODE</p>
        <p class='text-[#00759D]'>WORDPRESS</p>
        <p class='text-[#fff]'>EXPRESS</p>
        <p class='text-[#41a247]'>MONGODB</p>
        <p class='text-[#336791]'>POSTGRESQL</p>
        <p class='text-[#e10098]'>GRAPHQL</p>
        <p class='text-[#fff]'>VERCEL</p>
        <p class='text-[#00758F]'>MYSQL</p>
        <p class='text-[#20C6B7]'>NETLIFY</p>
        <p class='text-[#fff]'>AWS</p>
        <p class='text-[#2396ED]'>DOCKER</p>
        <p class='text-[#ffa712]'>FIREBASE</p>
        <p class='text-[#38bdf8]'>TAILWIND</p>
      </div>
      <div class='flex gap-[--gap] w-max animate-marquee items-stretch h-14'>
        <p class='text-[#00d8ff]'>REACT</p>
        <p class='text-[#fff]'>NEXT</p>
        <p class='text-[#4dba87]'>VUE</p>
        <p class='text-[#646cff]'>VITE</p>
        <p class='text-[#F7DF1E]'>VANILLA</p>
        <p class='text-[#68a063]'>NODE</p>
        <p class='text-[#00759D]'>WORDPRESS</p>
        <p class='text-[#fff]'>EXPRESS</p>
        <p class='text-[#41a247]'>MONGODB</p>
        <p class='text-[#336791]'>POSTGRESQL</p>
        <p class='text-[#e10098]'>GRAPHQL</p>
        <p class='text-[#fff]'>VERCEL</p>
        <p class='text-[#00758F]'>MYSQL</p>
        <p class='text-[#20C6B7]'>NETLIFY</p>
        <p class='text-[#fff]'>AWS</p>
        <p class='text-[#2396ED]'>DOCKER</p>
        <p class='text-[#ffa712]'>FIREBASE</p>
        <p class='text-[#38bdf8]'>TAILWIND</p>
      </div>
    </div>
    <div class='flex gap-[--gap] w-max overflow-hidden'>
      <div
        class='flex gap-[--gap] w-max animate-marquee [animation-direction:reverse] items-stretch h-14 [&>div]:h-full [&>div]:w-32 [&>div]:rounded-xl [&>div]:bg-white/5 [&>div]:grid [&>div]:place-content-center'
      >
        <div><React class='text-[#00d8ff] size-10' /></div>
        <div><NextJs class='text-[#fff] size-10' /></div>
        <div><VueJs class='text-[#4dba87] size-10' /></div>
        <div><ViteJs class='text-[#646cff] size-10' /></div>
        <div><JavaScript class='text-[#F7DF1E] size-10' /></div>
        <div><NodeJs class='text-[#68a063] size-10' /></div>
        <div><Wordpress class='text-[#00759D] size-10' /></div>
        <div><Express class='text-[#fff] size-10' /></div>
        <div><MongoDB class='text-[#41a247] size-10' /></div>
        <div><PostgreSQL class='text-[#336791] size-10' /></div>
        <div><Graphql class='text-[#e10098] size-10' /></div>
        <div><Vercel class='text-[#fff] size-10' /></div>
        <div><MySQL class='text-[#00758F] size-10' /></div>
        <div><Netlify class='text-[#20C6B7] size-10' /></div>
        <div><Aws class='text-[#fff] size-10' /></div>
        <div><Docker class='text-[#2396ED] size-10' /></div>
        <div><Firebase class='text-[#ffa712] size-10' /></div>
        <div><Tailwind class='text-[#38bdf8] size-10' /></div>
      </div>
      <div
        class='flex gap-[--gap] w-max animate-marquee [animation-direction:reverse] items-stretch h-14 [&>div]:h-full [&>div]:w-32 [&>div]:rounded-xl [&>div]:bg-white/5 [&>div]:grid [&>div]:place-content-center'
      >
        <div><React class='text-[#00d8ff] size-10' /></div>
        <div><NextJs class='text-[#fff] size-10' /></div>
        <div><VueJs class='text-[#4dba87] size-10' /></div>
        <div><ViteJs class='text-[#646cff] size-10' /></div>
        <div><JavaScript class='text-[#F7DF1E] size-10' /></div>
        <div><NodeJs class='text-[#68a063] size-10' /></div>
        <div><Wordpress class='text-[#00759D] size-10' /></div>
        <div><Express class='text-[#fff] size-10' /></div>
        <div><MongoDB class='text-[#41a247] size-10' /></div>
        <div><PostgreSQL class='text-[#336791] size-10' /></div>
        <div><Graphql class='text-[#e10098] size-10' /></div>
        <div><Vercel class='text-[#fff] size-10' /></div>
        <div><MySQL class='text-[#00758F] size-10' /></div>
        <div><Netlify class='text-[#20C6B7] size-10' /></div>
        <div><Aws class='text-[#fff] size-10' /></div>
        <div><Docker class='text-[#2396ED] size-10' /></div>
        <div><Firebase class='text-[#ffa712] size-10' /></div>
        <div><Tailwind class='text-[#38bdf8] size-10' /></div>
      </div>
    </div>
  </div>
  <div class='absolute -left-1 top-0 h-full w-1/4 bg-gradient-to-r from-[#121212] to-transparent'></div>
  <div class='absolute -right-1 top-0 h-full w-1/4 bg-gradient-to-l from-[#121212] to-transparent'></div>
</div>
