<ul class='text-2xl text-white/70 flex flex-col font-medium pt-8 rounded-lg'>
  <li>
    <a href='#about' class='nav-list relative block py-4 pl-8 hover:text-white/90' aria-current='location'>About</a>
  </li>
  <li>
    <a href='#projects' class='nav-list relative block py-4 pl-8 hover:text-white/90'>Projects</a>
  </li>
  <li>
    <a href='#experience' class='nav-list relative block py-4 pl-8 hover:text-white/90'>Experience</a>
  </li>
  <li>
    <a href='#contact-me' class='nav-list relative block py-4 pl-8 hover:text-white/90'>Contact me</a>
  </li>
</ul>

<style>
  .nav-list::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .nav-list:hover::before {
    opacity: 1;
  }

  [aria-current]::before {
    opacity: 1;
  }
  [aria-current] {
    color: rgb(255 255 255 / 0.9);
  }
</style>