---
import CloseIcon from '@icons/CloseIcon.astro'
import LinkedIn from '@icons/LinkedIn.astro'
import Mail from '@icons/Mail.astro'
import WhatsApp from '@icons/WhatsApp.astro'

import Menu from '@components/Menu.astro'
import Drummes12 from './logos/Drummes12.astro'
---

<nav
  class='fixed z-50 h-full flex sm:items-center -translate-x-full sm:hover:translate-x-0 sm:hover:shadow-black sm:hover:shadow-xl transition duration-300 ease-in-out group'
  id='navbar-location'
>
  <div class='flex flex-col h-full w-screen sm:max-w-[25rem] bg-gray-200/10 backdrop-blur-md sm:rounded-r-xl'>
    <header class='p-8 w-full flex justify-between'>
      <a href='#greating' class='text-4xl font-bold select-none max-sm:hidden'>Drummes12</a>
      <a href='#greating' class='text-4xl font-bold select-none sm:hidden' data-collapse-close='navbar-location'
        >Drummes12</a
      >
      <button
        class='sm:hidden text-white/70 hover:text-white/90 transition duration-300 ease-in-out'
        data-collapse-close='navbar-location'
      >
        <CloseIcon />
      </button>
    </header>
    <main class='grow'>
      <Menu />
    </main>
    <footer>
      <nav class='flex justify-around p-8 text-2xl text-white/70'>
        <a href='#' class='hover:text-white/90'><LinkedIn class='size-10' /></a>

        <a href='#' class='hover:text-white/90'><WhatsApp class='size-10' /></a>

        <a href='mailto:drummes.12@gmail.com' class='hover:text-white/90'><Mail class='size-10' /></a>
      </nav>
    </footer>
  </div>
  <div
    class='hidden sm:block absolute -right-[4.5rem] p-4 group-hover:-translate-x-full group-hover:bg-transparent group-hover:backdrop-blur-0 bg-gray-200/5 backdrop-blur-md rounded-r-xl transition-all duration-300'
  >
    <span class='sr-only'>Open main menu</span>
    <Drummes12 class='size-10' />
  </div>
  <button
    data-collapse-open='navbar-location'
    type='button'
    class='absolute sm:hidden -right-[4.5rem] p-4 bg-gray-200/5 backdrop-blur-md rounded-ee-xl'
  >
    <span class='sr-only'>Open main menu</span>
    <Drummes12 class='size-10' />
  </button>
</nav>

<script>
  const navbar = document.getElementById('navbar-location')
  const buttonOpen = document.querySelector('[data-collapse-open="navbar-location"]')
  const buttonsOptions = document.querySelectorAll('[data-collapse-close="navbar-location"]')
  const body = document.body

  buttonOpen.addEventListener('click', () => {
    navbar.classList.toggle('-translate-x-full')
    body.classList.toggle('overflow-y-hidden')
  })
  buttonsOptions.forEach((buttonOption) =>
    buttonOption.addEventListener('click', () => {
      navbar.classList.toggle('-translate-x-full')
      body.classList.toggle('overflow-y-hidden')
    })
  )
</script>
