---
import ProjectItem from './ProjectItem.astro'
interface Props {
  styleClass?: string
  componentId?: string
}

const { styleClass, componentId } = Astro.props
---

<section
  id={componentId}
  class={`grid auto-rows-fr grid-cols-2 md:grid-cols-3 gap-4 relative px-4 sm:px-8 py-12 h-[100dvh] md:h-screen w-full overflow-hidden [&>div]:bg-gray-200/10 [&>div]:backdrop-blur-sm ${styleClass}`}
>
  <div
    id='bg-techs'
    class='absolute bg-transparent backdrop-filter-none -z-10 top-0 left-0 h-full font-dm-mono -rotate-12 origin-left text-6xl font-bold opacity-10'
  >
  </div>
  <div class='col-span-1 md:col-span-1 rounded-lg'></div>
  <div class='col-span-1 md:col-span-2 rounded-lg'></div>
  <header
    class='relative col-span-2 rounded-xl p-4 select-none [&>h1]:[font-size:_clamp(1rem,10vw,10rem)] [&>h1]:md:[font-size:_clamp(2rem,8vw,10rem)] [&>h1]:font-rubik-mono overflow-hidden flex flex-col justify-center items-center md:items-end'
  >
    <h1>
      <span class='hover:opacity-0'>P</span>
      <span class='hover:opacity-0'>R</span>
      <span class='hover:opacity-0'>O</span>
      <span class='hover:opacity-0'>J</span>
      <span class='hover:opacity-0'>E</span>
      <span class='hover:opacity-0'>C</span>
      <span class='hover:opacity-0'>T</span>
      <span class='hover:opacity-0'>S</span>
    </h1>
    <h1 class='absolute -z-10 translate-y-4''>
      <span class='opacity-30'>P</span>
      <span class='opacity-30'>R</span>
      <span class='opacity-30'>O</span>
      <span class='opacity-30'>J</span>
      <span class='opacity-30'>E</span>
      <span class='opacity-30'>C</span>
      <span class='opacity-30'>T</span>
      <span class='opacity-30'>S</span>
    </h1>
    <h1 class='absolute -z-20 translate-y-8'>
      <span class='opacity-5'>P</span>
      <span class='opacity-5'>R</span>
      <span class='opacity-5'>O</span>
      <span class='opacity-5'>J</span>
      <span class='opacity-5'>E</span>
      <span class='opacity-5'>C</span>
      <span class='opacity-5'>T</span>
      <span class='opacity-5'>S</span>
    </h1>
  </header>
  <div class='row-span-1 col-span-1 rounded-lg'></div>
  <div class='col-span-1 row-span-2 md:row-span-1 md:col-span-2 rounded-lg'></div>
  <div class='row-span-1 col-span-1 rounded-lg'></div>
  <!-- <ProjectItem styleClass='col-span-4' />
  <ProjectItem />
  <ProjectItem />
  <ProjectItem />
  <ProjectItem /> -->
  <!-- <article class='w-full h-full overflow-hidden'>
    <div
      class='relative w-full h-full flex gap-6 snap-x snap-mandatory overflow-x-auto [&>div]:snap-center [&>div]:shrink-0'
    >
      <div><div class='shrink-0 w-4 sm:w-48'></div></div>
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
      <div><div class='shrink-0 w-4 sm:w-48'></div></div>
    </div>
  </article> -->
</section>

<script>
  const TECHS = [
    { name: 'REACT', color: '#61dafb', svg: '/logos/react.svg' },
    { name: 'NEXT', color: '#fff', svg: '/logos/nextjs.svg' },
    { name: 'VUE', color: '#41b883', svg: '/logos/vuejs.svg' },
    { name: 'VITE', color: '#646cff', svg: '/logos/vite.svg' },
    { name: 'VANILLA', color: '#f7df1e', svg: '/logos/javascript.svg' },
    { name: 'NODE', color: '#68a063', svg: '/logos/nodejs.svg' },
    { name: 'WORDPRESS', color: '#21759b', svg: '/logos/wordpress.svg' },
    { name: 'EXPRESS', color: '#fff', svg: '/logos/express.svg' },
    { name: 'MONGODB', color: '#4db33d', svg: '/logos/mongodb.svg' },
    { name: 'POSTGRESQL', color: '#336791', svg: '/logos/postgresql.svg' },
    { name: 'GRAPHQL', color: '#e535ab', svg: '/logos/graphql.svg' },
    { name: 'MYSQL', color: '#4479a1', svg: '/logos/mysql.svg' },
    { name: 'NETLIFY', color: '#00c7b7', svg: '/logos/netlify.svg' },
    { name: 'VERCEL', color: '#fff', svg: '/logos/vercel.svg' },
    { name: 'AWS', color: '#232f3e', svg: '/logos/aws.svg' },
    { name: 'DOCKER', color: '#2496ed', svg: '/logos/docker.svg' },
    { name: 'FIREBASE', color: '#f7c52b', svg: '/logos/firebase.svg' },
    { name: 'TAILWIND', color: '#06b6d4', svg: '/logos/tailwind.svg' },
  ]
  const bgTechs = document.getElementById('bg-techs')

  for (let i = 0; i < 30; i++) {
    if (i % 2 === 0) {
      createLineTechs('left')
    } else {
      createLineTechs('right')
    }
  }

  function createLineTechs(direction = 'left') {
    const techsContainer = document.createElement('div')
    techsContainer.classList.add('flex')

    for (let i = 0; i < 2; i++) {
      const lineTechs = document.createElement('div')
      lineTechs.classList.add('whitespace-nowrap', 'text-center', 'h-14', 'flex', 'items-center')
      if (direction === 'left') {
        lineTechs.classList.add('animate-marquee-left')
        TECHS.forEach((tech) => {
          const techEl = document.createElement('span')
          techEl.innerText = tech.name
          techEl.style.color = tech.color
          techEl.classList.add('inline-block', 'mx-2')
          lineTechs.appendChild(techEl)
        })
      } else {
        lineTechs.classList.add('animate-marquee-right')
        TECHS.forEach((tech) => {
          const techEl = document.createElement('img')
          techEl.src = tech.svg
          techEl.alt = `${tech.name} Logo`
          techEl.style.color = tech.color
          techEl.classList.add('inline-block', 'mx-4', 'h-14', 'aspect-square')
          lineTechs.appendChild(techEl)
        })
      }
      techsContainer.appendChild(lineTechs)
    }
    bgTechs.appendChild(techsContainer)
  }
</script>
