---
import ProjectItem from './ProjectItem.astro'
interface Props {
  class?: string
  componentId?: string
}

const { class: className, componentId } = Astro.props
---

<section
  id={componentId}
  class={`grid auto-rows-fr grid-cols-2 md:grid-cols-3 gap-4 relative px-4 sm:px-8 py-12 h-[100dvh] md:h-screen w-full overflow-hidden [&>div]:bg-gray-200/10 [&>div]:backdrop-blur-sm ${className}`}
>
  <ProjectItem class='col-span-1 md:col-span-1 rounded-lg' />
  <div class='col-span-1 md:col-span-2 rounded-lg'></div>
  <header
    class='relative col-span-2 rounded-xl p-4 select-none [&>h1]:[font-size:_clamp(1rem,10vw,10rem)] [&>h1]:md:[font-size:_clamp(2rem,8vw,10rem)] [&>h1]:font-rubik-mono overflow-hidden flex flex-col justify-center items-center md:items-end'
  >
    <h1>
      <span class='hover:opacity-0'>P</span>
      <span class='hover:opacity-0'>R</span>
      <span class='hover:opacity-0'>O</span>
      <span class='hover:opacity-0'>J</span>
      <span class='hover:opacity-0'>E</span>
      <span class='hover:opacity-0'>C</span>
      <span class='hover:opacity-0'>T</span>
      <span class='hover:opacity-0'>S</span>
    </h1>
    <h1 class='absolute -z-10 translate-y-4' '>
      <span class='opacity-30'>P</span>
      <span class='opacity-30'>R</span>
      <span class='opacity-30'>O</span>
      <span class='opacity-30'>J</span>
      <span class='opacity-30'>E</span>
      <span class='opacity-30'>C</span>
      <span class='opacity-30'>T</span>
      <span class='opacity-30'>S</span>
    </h1>
    <h1 class='absolute -z-20 translate-y-8'>
      <span class='opacity-5'>P</span>
      <span class='opacity-5'>R</span>
      <span class='opacity-5'>O</span>
      <span class='opacity-5'>J</span>
      <span class='opacity-5'>E</span>
      <span class='opacity-5'>C</span>
      <span class='opacity-5'>T</span>
      <span class='opacity-5'>S</span>
    </h1>
  </header>
  <div class='row-span-1 col-span-1 rounded-lg'></div>
  <div class='col-span-1 row-span-2 md:row-span-1 md:col-span-2 rounded-lg'></div>
  <div class='row-span-1 col-span-1 rounded-lg'></div>
  <!-- <ProjectItem class='col-span-4' />
  <ProjectItem />
  <ProjectItem />
  <ProjectItem />
  <ProjectItem /> -->
  <!-- <article class='w-full h-full overflow-hidden'>
    <div
      class='relative w-full h-full flex gap-6 snap-x snap-mandatory overflow-x-auto [&>div]:snap-center [&>div]:shrink-0'
    >
      <div><div class='shrink-0 w-4 sm:w-48'></div></div>
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
      <div><div class='shrink-0 w-4 sm:w-48'></div></div>
    </div>
  </article> -->
