<div class='h-full snap-center flex flex-col justify-center'>
  <img
    class='h-4/5 aspect-video object-cover'
    src='https://i.pinimg.com/564x/4e/d4/4f/4ed44f3f62ac37ff596eee01e560ded8.jpg'
    alt='Image of example project'
  />
  <h2>Project Example</h2>
</div>
