---
interface Props {
  class?: string
  componentId?: string
}

const { class: className, componentId } = Astro.props
---

<div id={componentId} class={`${className} h-full snap-center flex flex-col justify-center`}>
  <img
    class='h-4/5 aspect-video object-cover'
    src='/projects/project1.png'
    alt='Image of example project'
  />
  <h2>Project Example</h2>
</div>
