---
import ProjectItem from './ProjectItem.astro'
interface Props {
  styleClass?: string
  componentId?: string
}

const { styleClass, componentId } = Astro.props
---

<section
  id={componentId}
  class={`px-4 sm:px-8 py-20 flex flex-col items-center justify-center gap-10 relative h-[100dvh] md:h-screen w-full overflow-hidden ${styleClass}`}
>
  <div
    id='bg-techs'
    class='absolute -z-10 top-0 left-0 h-full font-dm-mono -rotate-12 origin-left text-6xl font-bold opacity-10'
  >
  </div>
  <article class='w-full h-full overflow-hidden'>
    <div
      class='relative w-full h-full flex gap-6 snap-x snap-mandatory overflow-x-auto [&>div]:snap-center [&>div]:shrink-0'
    >
      <div><div class='shrink-0 w-4 sm:w-48'></div></div>
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
      <div><div class='shrink-0 w-4 sm:w-48'></div></div>
    </div>
  </article>
  <article class='bg-black/10 backdrop-blur-md rounded-xl px-24 py-4'>
    <h1 class='text-6xl'>PROJECTS</h1>
  </article>
  <article class='w-full h-full overflow-hidden'>
    <div
      class='relative w-full h-full flex gap-6 snap-x snap-mandatory overflow-x-auto [&>div]:snap-center [&>div]:shrink-0'
    >
      <div><div class='shrink-0 w-4 sm:w-48'></div></div>
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
      <ProjectItem />
      <div><div class='shrink-0 w-4 sm:w-48'></div></div>
    </div>
  </article>
</section>

<script>
  const TECHS = [
    { name: 'REACT', color: '#61dafb', svg: '/logos/react.svg' },
    { name: 'NEXT', color: '#fff', svg: '/logos/nextjs.svg' },
    { name: 'VUE', color: '#41b883', svg: '/logos/vuejs.svg' },
    { name: 'VITE', color: '#646cff', svg: '/logos/vite.svg' },
    { name: 'VANILLA', color: '#f7df1e', svg: '/logos/javascript.svg' },
    { name: 'NODE', color: '#68a063', svg: '/logos/nodejs.svg' },
    { name: 'WORDPRESS', color: '#21759b', svg: '/logos/wordpress.svg' },
    { name: 'EXPRESS', color: '#fff', svg: '/logos/express.svg' },
    { name: 'MONGODB', color: '#4db33d', svg: '/logos/mongodb.svg' },
    { name: 'POSTGRESQL', color: '#336791', svg: '/logos/postgresql.svg' },
    { name: 'GRAPHQL', color: '#e535ab', svg: '/logos/graphql.svg' },
    { name: 'MYSQL', color: '#4479a1', svg: '/logos/mysql.svg' },
    { name: 'NETLIFY', color: '#00c7b7', svg: '/logos/netlify.svg' },
    { name: 'VERCEL', color: '#fff', svg: '/logos/vercel.svg' },
    { name: 'AWS', color: '#232f3e', svg: '/logos/aws.svg' },
    { name: 'DOCKER', color: '#2496ed', svg: '/logos/docker.svg' },
    { name: 'FIREBASE', color: '#f7c52b', svg: '/logos/firebase.svg' },
    { name: 'TAILWIND', color: '#06b6d4', svg: '/logos/tailwind.svg' },
  ]
  const bgTechs = document.getElementById('bg-techs')

  for (let i = 0; i < 30; i++) {
    if (i % 2 === 0) {
      createLineTechs('left')
    } else {
      createLineTechs('right')
    }
  }

  function createLineTechs(direction = 'left') {
    const techsContainer = document.createElement('div')
    techsContainer.classList.add('flex')

    for (let i = 0; i < 2; i++) {
      const lineTechs = document.createElement('div')
      lineTechs.classList.add('whitespace-nowrap', 'text-center', 'h-14', 'flex', 'items-center')
      if (direction === 'left') {
        lineTechs.classList.add('animate-marquee-left')
        TECHS.forEach((tech) => {
          const techEl = document.createElement('span')
          techEl.innerText = tech.name
          techEl.style.color = tech.color
          techEl.classList.add('inline-block', 'mx-2')
          lineTechs.appendChild(techEl)
        })
      } else {
        lineTechs.classList.add('animate-marquee-right')
        TECHS.forEach((tech) => {
          const techEl = document.createElement('img')
          techEl.src = tech.svg
          techEl.alt = `${tech.name} Logo`
          techEl.style.color = tech.color
          techEl.classList.add('inline-block', 'mx-4', 'h-14', 'aspect-square')
          lineTechs.appendChild(techEl)
        })
      }
      techsContainer.appendChild(lineTechs)
    }
    bgTechs.appendChild(techsContainer)
  }
</script>
