---
import Bulb from '@components/lights/Bulb.astro'
import ProjectItem from './ProjectItem.astro'
import Languages from '@components/Languages.astro'

import Aws from '@components/logos/Aws.astro'
import Docker from '@components/logos/Docker.astro'
import Express from '@components/logos/Express.astro'
import Firebase from '@components/logos/Firebase.astro'
import Graphql from '@components/logos/Graphql.astro'
import JavaScript from '@components/logos/JavaScript.astro'
import MongoDB from '@components/logos/MongoDB.astro'
import MySQL from '@components/logos/MySQL.astro'
import Netlify from './logos/Netlify.astro'
import NextJs from './logos/NextJs.astro'
import NodeJs from '@components/logos/NodeJs.astro'
import PostgreSQL from './logos/PostgreSQL.astro'
import React from './logos/React.astro'
import Tailwind from './logos/Tailwind.astro'
import Vercel from './logos/Vercel.astro'
import ViteJs from './logos/ViteJs.astro'
import VueJs from './logos/VueJs.astro'
import Html from './logos/Html.astro'
import Css from './logos/Css.astro'
import Sass from './logos/Sass.astro'

import Wordpress from './logos/Wordpress.astro'
import SectionComponent from './SectionComponent.astro'

const TAGS = {
  REACT: {
    name: 'React',
    icon: React,
    class: 'bg-[#00d8ff] text-white',
  },
  NEXTJS: {
    name: 'Next.js',
    icon: NextJs,
    class: 'bg-[#fff] text-black',
  },
  VUEJS: {
    name: 'Vue.js',
    icon: VueJs,
    class: 'bg-[#4dba87] text-white',
  },
  VITEJS: {
    name: 'Vite.js',
    icon: ViteJs,
    class: 'bg-[#646cff] text-white',
  },
  HTML: {
    name: 'HTML',
    icon: Html,
    class: 'bg-[#e34f26] text-white',
  },
  CSS: {
    name: 'CSS',
    icon: Css,
    class: 'bg-[#1571AF] text-white',
  },
  JAVASCRIPT: {
    name: 'JavaScript',
    icon: JavaScript,
    class: 'bg-[#F7DF1E] text-black',
  },
  SASS: {
    name: 'SASS',
    icon: Sass,
    class: 'bg-[#cf649a] text-white',
  },
  NODEJS: {
    name: 'Node.js',
    icon: NodeJs,
    class: 'bg-[#68a063] text-white',
  },
  WORDPRESS: {
    name: 'Wordpress',
    icon: Wordpress,
    class: 'bg-[#00759D] text-white',
  },
  EXPRESS: {
    name: 'Express',
    icon: Express,
    class: 'bg-[#fff] text-black',
  },
  MONGODB: {
    name: 'MongoDB',
    icon: MongoDB,
    class: 'bg-[#41a247] text-white',
  },
  POSTGRESQL: {
    name: 'PostgreSQL',
    icon: PostgreSQL,
    class: 'bg-[#336791] text-white',
  },
  GRAPHQL: {
    name: 'GraphQL',
    icon: Graphql,
    class: 'bg-[#e10098] text-white',
  },
  VERCEL: {
    name: 'Vercel',
    icon: Vercel,
    class: 'bg-[#fff] text-black',
  },
  MYSQL: {
    name: 'MySQL',
    icon: MySQL,
    class: 'bg-[#00758F] text-white',
  },
  NETLIFY: {
    name: 'Netlify',
    icon: Netlify,
    class: 'bg-[#20C6B7] text-white',
  },
  AWS: {
    name: 'AWS',
    icon: Aws,
    class: 'bg-[#fff] text-black',
  },
  DOCKER: {
    name: 'Docker',
    icon: Docker,
    class: 'bg-[#2396ED] text-white',
  },
  FIREBASE: {
    name: 'Firebase',
    icon: Firebase,
    class: 'bg-[#ffa712] text-white',
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    icon: Tailwind,
    class: 'bg-[#38bdf8] text-white',
  },
}

interface Props {
  id?: string
}

const { id } = Astro.props

const PROJECTS = [
  {
    title: 'Bozeto',
    description:
      'Plataforma de diseño intuitiva para seleccionar artículos personalizables con opciones de estampados predefinidos. Además, permite la carga de diseños personalizados, logrando posicionarlos en donde el usuario desee.',
    link: 'https://drummes12.github.io/Bozeto/',
    github: 'https://github.com/drummes12/Bozeto',
    image: '/projects/bozeto-page.webp',
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: 'ToDo List',
    description:
      'Aplicación de listas de tareas con funciones de crear, editar, eliminar y marcar tareas. Almacena datos en local storage para persistencia. Una herramienta eficiente y fácil de usar para organizar tus tareas diarias.',
    link: 'https://todo-list-woad-zeta.vercel.app/',
    github: 'https://github.com/drummes12/todo-list',
    image: '/projects/todo-list.webp',
    tags: [TAGS.NEXTJS, TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: 'Next Shop',
    description:
      'E-commerce versátil que ofrece una amplia gama de productos, respaldado por un sistema de carrito de compras eficiente. Creditos a los cursos de Next.js de Platzi.',
    link: 'https://next-shop-sooty.vercel.app/',
    github: 'https://github.com/drummes12/next-shop',
    image: '',
    tags: [TAGS.NEXTJS, TAGS.REACT, TAGS.SASS],
  },
  {
    title: 'XKCD',
    description:
      'Reimaginación del sitio web de xkcd con un diseño renovado, paginación de cómics, internacionalización (i18n) para una experiencia multilingüe y potente búsqueda alimentada por Algolia. Reconocimiento especial a Midudev por su inspiración.',
    link: 'https://xkcd-next12-app-nu.vercel.app/es',
    github: 'https://github.com/drummes12/xkcd-next12-app',
    image: '/projects/xkcd.webp',
    tags: [TAGS.NEXTJS, TAGS.REACT, TAGS.TAILWIND],
  },
]
---

<SectionComponent id={id} class='px-0'>
  <Bulb />
  <header class='w-full max-w-[1400px] py-4 flex justify-end'>
    <h2 class='text-right font-extrabold [font-size:_clamp(3rem,_1.158rem_+_9.825vw,_10rem)] text-gray-500/90'>
      Proyectos
    </h2>
  </header>
  <div
    class='relative w-full max-w-[1400px] grid md:grid-cols-10 auto-rows-[35rem] sm:auto-rows-[35rem] gap-4 mx-auto p-4'
  >
    {
      PROJECTS.map((project, idx) => {
        const size = idx % 4 === 0 || idx % 4 === 3 ? 'lg' : 'sm'
        return <ProjectItem size={size} {...project} />
      })
    }
  </div>
  <div class='flex-1 flex items-end w-full'>
    <Languages />
  </div>
</SectionComponent>
